<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <title>PersonalTrainer</title>
</head>

<body>
    <div>
        <!-- Navbar -->
        <div class="w3-top w3-text-white w3-black">
            <div class="w3-bar  ">
                <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
                    href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i
                        class="fa fa-bars"></i></a>
                <a href="#home" class="w3-bar-item w3-button w3-padding-large">HOME</a>
                <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hide-small">ABOUT</a>
                <a href="#testimony" class="w3-bar-item w3-button w3-padding-large w3-hide-small">FACTS</a>
                <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT</a>
                <a href="/login"
                    class="btn btn-default w3-bar-item w3-button w3-padding-large w3-hide-small w3-text-red w3-text-bold"><span
                        class=""></span>Login</a>
                <a href="/signup"
                    class="btn btn-default w3-bar-item w3-button w3-padding-large w3-hide-small w3-text-red"><span
                        class=""></span>Signup</a>
            </div>
        </div>

        <!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
        <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top"
            style="margin-top:46px">
            <a href="#about" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">ABOUT</a>
            <a href="#service" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">SERVICE</a>
            <a href="#testimony" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">TESTIMONY</a>
            <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">CONTACT</a>
            <a href="/login" class="btn btn-default"><span class=""></span>Login</a>
            <a href="/signup" class="btn btn-default"><span class="w3-bar-item w3-button w3-padding-large"></span>Signup</a>
        </div>
    </div>
    <section id="home">
        <div class="hero">
            <div class="hero-text">

                <div> <h1 class=" w3-padding-large w3-text-black w3-text-bolder w3-hide-small">Need to Vent </h1> <h1>but You feel like nobody understand </h1>
                    <span class="  w3-text-red w3-text-bolder w3-hide-small"> <br> <h5 class="w3-text-black  w3-hide-small w3-xxxlarge w3-text-bolder "> YOU ARE NOT ALONE,</h5><br>
                        <a href="/signup" class="btn btn-default w3-bar-item w3-button w3-padding-large w3-hide-small w3-text-red w3-xxlarge">
                            <span class="fa fa-user"> </span> Signup</a>
                    </span>
                    

                </div>



            </div>

        </div>
    </section>
    <main>
        <div class="about" id="about">
            <div>
                <h2 class="title w3-text-red">
                    Understand Our Mission
                </h2>
                <div class="about-main">
                    <div>

                    </div>
                    <div class="about-text">
                        <h3> Mental Health Is Real </h3>
                        <h6>Talking About it is SCARY</h6>
                        <p>Our mission is to create a safe place for you to vent ANONYMOUSLY without feeling judge and
                            under pressure. This world have became overwhelming and scary. To know that you are not the
                            only one to feel the way you feel , and there is a community that can assist you through the
                            process is amazing and this is what we ARE. Please join and lift the next person up while
                            sorting your own thoughts out </p>
                        <div style="margin-top:10px">
                            <span class="w3-text-white social">
                                <p>Follow Me on Social media</p>
                                <div class="w3-margin-top">
                                    <a href="#"> <i class="fa fa-facebook-official w3-hover-opacity icons"></i></a>
                                    <a href="#"><i class="fa fa-instagram w3-hover-opacity icons"></i></a>

                                </div>
                            </span>
                        </div>

                    </div>

                </div>
            </div>

        </div>



        <div class="testimony" id="testimony">
            

            <div class="testimony-main">
                <div class="testimony-image">
                    <img src="img/YourStory.png" alt="Karsten Winegeart" />
                </div>
                <div class="testimony-text">
                    <h3>Your story can encourage others to stay alive</h3>
                    <p style="font-style: italic; color:#282A35;">
                        "Talking can be a way to cope with a problem you’ve been carrying around in your head for a
                        while. Just being listened to can help you feel supported and less alone. And it works both
                        ways. If you open up, it might encourage others to do the same."
                    </p>

                </div>
            </div>

            <div class="testimony-main">
                <div class="testimony-image">
                    <img src="img/TakingCharge.png" alt="Hayley Kim Design" />
                </div>
                <div class="testimony-text">

                    <h3>Taking charge of your wellbeing</h3>
                    <p style="font-style: italic; color:#282A35;">
                        "Feelings don't disappear. Instead, facing them head-on by talking about them is one of the most
                        successful strategies for dealing with whatever's going on for you. Like the UK-based Mental
                        Health Foundation writes, "talking about your feelings isn’t a sign of weakness. It’s part of
                        taking charge of your wellbeing and doing what you can to stay healthy."
                    </p>
                </div>
            </div>

            <div class="testimony-main">
                <div class="testimony-image">
                    <img src="img/TalkingisReleive.png" alt="Scott Webb" />
                </div>
                <div class="testimony-text">
                    <h3>Talking is releiving </h3>
                    <p style="font-style: italic; color:#282A35;">
                        "Psychologists at UCLA have proven what we've suspected all along, that talking about feelings
                        is relieving. Through brain imaging studies, the researchers found that the mere act of putting
                        feelings into words reduced brain activity in the amygdala, one of the primary areas of the
                        brain associated with processing emotional responses, meaning that the intensity of an emotion
                        decreases."
                    </p>


                </div>
            </div>
        </div>





        <div class="contact-address " id="contact">
            <h3 class="title"> GET IN TOUCH. </h3>
            <div class="contact-address-list">
                <div class="contact-list">
                    <h4>location</h4>
                    <p> Philadelphia, PA 19026</p>

                </div>
                <div class="contact-list">
                    <h4>Customer Service Hours</h4>
                    <p>Monday- Saturday: 8am -9:30pm</p>
                    <p>Sunday:8am- 9pm</p>

                </div>
                <div class="contact-list">
                    <h4>Share how the app made you feel </h4>
                    <p> <i class="fa fa-phone " style="margin-right: 8px;font-size: 20px;"></i>
                        nafeesah.q.shah@gmail.com</p>
                    <p><i class="fa fa-envelope "
                            style=" margin-right: 5px;font-size: 20px;"></i>https://www.linkedin.com/in/nafeesah-shah/
                    </p>

                </div>

            </div>




    </main>
    <!-- <div class="w3-padding w3-center" style="background: #FFF4A3;padding: 10px 0px !important; color:#282A35; ">
        <div style="display: flex; justify-content: center;align-items: center; flex-wrap: wrap;">
            <p style="margin: 10px !important ">This website was made with w3schools Spaces. Make your own free website
                today</p>
            <button class="w3-margin-top w3-btn w3-text-white  w3-round-xxlarge"
                style=" background-color:#282A35;padding: 8px 25px;  margin:0px  !important">Start now</button>
        </div>

    </div> -->
    <script>
        function myFunction() {
            var x = document.getElementById("navDemo");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }
    </script>
</body>

</html>